/node_modules
/public/hot
/public/storage
/storage/*.key
/public/js/app.js
/vendor
/.idea
/.vscode
/.vagrant
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
/public/
laravel-echo-server.json
.env.dusk.local
