/* Add here all your CSS customizations */

.intro-banner .background-image-container {
  background-position: 100% 30% !important;
  left: 15% !important;
}

.dashboard-content-inner {
  padding: 50px 0 !important;
}

#logo {
  border-right: none !important;

  img {
    height: 55px !important;
  }
}

.intro-banner .background-image-container {
  width: 85% !important;
}

#navigation {
  height: 100%;
  display: flex !important;
  align-items: center;
  margin-top: 0 !important;
}

.photo-box {
  background-position: 50% !important;
}

@media (max-width: 1099px) {
  #logo img {
    height: auto !important;
  }
}

@media (max-width: 992px) {
  .intro-banner .background-image-container {
    background: none !important;
  }
}

.header-widget {
  border-left: none !important;
}

.left-side {
  display: flex !important;
}

input[disabled], .disabled .dropdown-toggle {
  background: #f2f2f2 !important;
}

.user-avatar {
  &:after {
    content: none !important;
  }
}

.user-name {
  padding: 0 !important;
}

.freelancer-overview .freelancer-avatar img {
  border-radius: 5px !important;
}

.positive-review {
  color: #008a00 !important;
  font-size: 16px;
}

.negative-review {
  color: crimson !important;
  font-size: 16px;
}

.freelancers-list-layout .freelancer-overview-inner {
  align-items: flex-start !important;
}

.freelancer-details {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;

  .offer-details {
    .offer-price {
      strong {
        font-size: 25px;
        color: black;
      }
    }
  }
}

.freelancer-overview-inner {
  position: relative;
}

.offer-location {
  margin: 0 !important;
  margin-top: 20px !important;
  bottom: 0;
}

.freelancers-list-layout .freelancer-details {
  flex: 1 0 250px !important;
}

.seller-details {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative !important;
  min-width: 120px;
}

.seller-name {
  font-size: 13px;
}

#navigation ul li a:after {
  content: none !important;
}

.add-offers {
  transition: 0.2s;
  opacity: 1;
  line-height: 17px;
  background-color: #f0f0f0;
  color: #2a41e8;
  border-radius: 3px;
  margin-left: 7px;
  text-indent: 0;
  top: 1px;
  position: absolute;
  right: -15px;
  width: 15px;
  height: 15px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: #2a41e8;
    color: white !important;
  }
}

.filters-action {
  transition: opacity .3s !important;
  color: white !important;
  opacity: 1;
  width: 120px !important;
}

.hidden {
  opacity: 0 !important;
  display: none !important;
}
.freelancer-rating {
  margin: 0 !important;
}

#navigation #responsive {
  display: flex;
  align-items: center;
}

.dropdown-menu .status {
  padding-left: 10px !important;
}

.flag {
  max-height: 15px !important;
}

.freelancer-overview .freelancer-avatar img {
  min-height: 115px;
}

.freelancer-avatar {
  min-width: 80px;
}

.gallery {
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;

  img {
    margin-right: 5px;
  }
}

.single-page-header .header-image {
  height: 200px !important;
  flex: 0 0 200px !important;
  margin-right: 35px;
  background: transparent !important;
  border-radius: 4px;
  box-shadow: none !important;
  display: flex;
  padding: 0 20px;

  img {
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
}

#vertical {
  width: calc(100% - 80px) !important;
}

.salary-amount strong {
  font-weight: bold;
  font-size: 35px;
}

mark.color {
  &.ps4 {
    background-color: #003791;
  }
  &.xboxone {
    background-color: #107c10;
  }
  &.pc {
    background-color: black;
  }
}

.features {
  list-style-type: none;
  .yes {
    &:before {
      color: #00b01a;
      font-family: "Material-Icons";
      content: "\e927";
      font-size: 18px;
      font-weight: 600;
      position: relative;
      top: -2px;
      float: left;
      margin-left: -28px;
      display: block;
      margin-bottom: 5px;
    }
  }
 .no {
  &:before {
    color: crimson;
    font-family: "Material-Icons";
    content: "\e94f";
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: -2px;
    float: left;
    margin-left: -28px;
    display: block;
    margin-bottom: 5px;
  }
}
}

.review-positive {
  background-color: #00800012 !important;
}

.review-negative {
  background-color: #ff000012 !important;
}

.account-type input.account-type-radio:checked ~ label.red {
  background-color: #dc3139;
}

.account-type input.account-type-radio ~ label.red:hover {
  color: #9c2828;
  background-color: #f6e4e4;
}

.message-content-inner {
  max-height: calc(100vh - 325px) !important;
}

.is-writing {
  margin-left: 20px;

  &.hide {
    opacity: 0;
  }

  i {
    display: block;
    position: absolute;
    animation: pencil .6s infinite alternate;
    margin-top: 3px;
  }

  span {
    margin-left: 20px;
    font-size: 14px;
  }
}

@keyframes pencil {
  0% { transform: rotate(-21deg); }
  50% { transform: rotate(-11deg); }
  100% { transform: rotate(0deg); }
}

.notifications-wrapper .notification-text {
  padding-left: 0 !important;
}

.status-icon, .notification-avatar:after, .user-avatar:after {
  content: none !important;
}

.algolia-autocomplete {
  width: 100%;
}

.game-autocomplete {
  width: 100%;
}

.aa-dropdown-menu {
  background-color: #fff;
  max-height: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  border-top: none;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  z-index: 99999999 !important;

  .aa-suggestion {
    margin: 15px;
    padding-left: 15px;
    height: 50px;
    border-radius: 4px;

    transition: background .3s, color .3s;

    img {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover {
      background: #2a41e8;
      color: white;
    }
  }

  .algolia-suggestion {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 99999999 !important;

    img {
      max-height: 50px;
    }
  }
}

.icon-box-circle {
  z-index: 1 !important;
}

.select2-selection {
  border: none !important;
  height: 30px !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  outline: none; // TODO
}

.no-border .select2-selection {
  box-shadow: none;
}

.full-container ~ .select2.select2-container, .full-container ~ .select2.select2-container .select2-selection__rendered {
  width: 100% !important;
}

.full-container.full-height ~ .select2.select2-container, .full-container.full-height ~ .select2.select2-container .select2-selection__rendered {
  height: 100% !important;
}

.select2 {
  height: 50px;
}

.select2-selection.select2-selection--single {
  height: 100% !important;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.select2-dropdown.select2-dropdown--below {
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.algolia-suggestion {
  padding-left: 12px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary-color !important;
}

.select2-search__field {
  width: calc(100% - 20px) !important;
  margin-left: 10px;
  height: 40px;
  margin-top: 5px;
}

.select2-results__option.select2-results__message {
  padding-left: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 10px !important;
}

.select2-selection__rendered {
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
}

.select2-selection.select2-selection--multiple {
  height: 50px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: $primary-color !important;
  color: white !important;
  border: 1px solid $primary-color !important;
  padding: 0 10px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: white !important;
  margin-right: 5px !important;
  margin-left: -2px !important;
}

.select2-results__option {
  padding-left: 15px !important;
}

.intro-search-field {
  padding: 0 !important;
}

.intro-full-page {
  min-height: calc(100vh - 160px);
}

.intro-banner.bg-left {
  &:before {
    background: linear-gradient(to left,rgba(250,250,250,1) 20%, rgba(250,250,250,.95) 50% ,rgba(250,250,250,0.1) 80%,rgba(250,250,250,0) 100%) !important;
  }

  .background-image-container {
    left: 0 !important;
  }
}

#loader {
  display: flex;
  position: fixed;
  background: white;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
}

#loader img {
  width: 120px;
  animation: scale infinite alternate;
  animation-duration: .7s;
}

@keyframes scale {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}

.turbolinks-progress-bar {
  z-index: 10000010;
}

select.select2 {
  display: none;
}

.select2-container--open {
  z-index: 9999999999 !important;
}

.submit-field {
  min-height: 50px;
}

.transparent {
  background: transparent !important;
}

.mw-100 {
  max-width: 100% !important;

  ~ .select2 {
    max-width: 100% !important;
  }
}

.mh-100 {
  max-height: 100% !important;

  ~ .select2 {
    max-height: 100% !important;
  }
}

.registration.cities {
  ~ .select2 {
    margin-left: 48px;
    max-height: 46px;
    border-radius: 0;
    max-width: calc(100% - 48px);

    .select2-selection {
      border-radius: 0 !important;
      margin-top: 1px !important;
    }

    .select2-selection__rendered {
      color: #808080 !important;
    }
  }
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#wrapper {
  min-height: 100vh;
  padding-top: 82px;
  position: relative;
  padding-bottom: 78px;
}

.sort-by {
  width: 300px;
  justify-content: space-evenly;

  .select2 {
    max-width: 200px;
    height: 30px;
  }
}

.transaction-item {
  border-radius: 50px;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.transaction-price {
  font-size: 40px;
  opacity: 0.5;
  color: #9a9a9a94;
}

.transaction-price-wrapper {
  position: relative;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-weight: 900;
    color: black;
    position: absolute;
    font-size: 21px;
  }
}

.transaction-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.transaction-items {
  display: flex;
}

.job-listing-items {
  flex-basis: 375px;
}

@media only screen and (min-width: 550px) and (max-width: 1240px) {
  .freelancers-container.freelancers-list-layout.compact-list {
    .freelancer {
      display: flex;
      flex-direction: row;
    }

    .freelancer-details {
      justify-content: center;
      flex: 1 0 175px !important;
      padding: 35px 20px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .freelancers-container.freelancers-list-layout.compact-list {
    .freelancer-details {
      flex: 1 0 0 !important;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 425px) {
  .freelancers-container.freelancers-list-layout.compact-list {
    .offer-location {
      position: static;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .intro-search-field.with-label {
    height: 50px;
  }

  #navigation {
    display: none !important;
  }

  .mm-listview {
    .add-offers {
      display: none;
    }
  }
}

@media only screen and (max-width: 990px) {
  .single-page-header-inner {
    padding-left: 10px;

    .header-image {
      padding-left: 0;
      margin-right: 10px;
    }

    .right-side {
      text-align: center;
      margin-top: 10px;
    }
  }
}

.mobile-only {
  display: block;
}

@media only screen and (min-width: 990px) {
  .mobile-only {
    display: none;
  }
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}
