/* Add here all your CSS customizations */

.intro-banner .background-image-container {
  background-position: 100% 30% !important;
  left: 15% !important;
}

.dashboard-content-inner {
  padding: 50px 0 !important;
}

#logo {
  border-right: none !important;

  img {
    height: 55px !important;
  }
}

.intro-banner .background-image-container {
  width: 85% !important;
}

#navigation {
  height: 100%;
  display: flex !important;
  align-items: center;
  margin-top: 0 !important;
}

.photo-box {
  background-position: 50% !important;
}

@media (max-width: 1099px) {
  #logo img {
    height: auto !important;
  }
}

@media (max-width: 992px) {
  .intro-banner .background-image-container {
    background: none !important;
  }
}

.header-widget {
  border-left: none !important;
}

.left-side {
  display: flex !important;
}

input[disabled], .disabled .dropdown-toggle {
  background: #f2f2f2 !important;
}

.user-avatar {
  &:after {
    content: none !important;
  }
}

.user-name {
  padding: 0 !important;
}

.freelancer-overview .freelancer-avatar img {
  border-radius: 5px !important;
}

.positive-review {
  color: #008a00 !important;
  font-size: 16px;
}

.negative-review {
  color: crimson !important;
  font-size: 16px;
}

.freelancers-list-layout .freelancer-overview-inner {
  align-items: flex-start !important;
}

.freelancer-details {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;

  .offer-details {
    .offer-price {
      strong {
        font-size: 25px;
        color: black;
      }
    }
  }
}

.freelancer-overview-inner {
  position: relative;
}

.offer-location {
  position: absolute;
  margin: 0 !important;
  bottom: 0;
}

.freelancers-list-layout .freelancer-details {
  flex: 1 0 250px !important;
}

.seller-details {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative !important;
  min-width: 120px;
}

.seller-name {
  font-size: 13px;
}

#navigation ul li a:after {
  content: none !important;
}

.add-offers {
  transition: 0.2s;
  opacity: 1;
  line-height: 17px;
  background-color: #f0f0f0;
  color: #2a41e8;
  border-radius: 3px;
  margin-left: 7px;
  text-indent: 0;
  top: 1px;
  position: absolute;
  right: -15px;
  width: 15px;
  height: 15px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: #2a41e8;
    color: white !important;
  }
}

.filters-action {
  transition: opacity .3s !important;
  color: white !important;
  opacity: 1;
  width: 120px !important;
}

.hidden {
  opacity: 0 !important;
  display: none !important;
}
.freelancer-rating {
  margin: 0 !important;
}

#navigation #responsive {
  display: flex;
  align-items: center;
}

.dropdown-menu .status {
  padding-left: 10px !important;
}

.flag {
  max-height: 15px !important;
}

.freelancer-overview .freelancer-avatar img {
  min-height: 115px;
}

.gallery {
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;

  img {
    margin-right: 5px;
  }
}

.single-page-header .header-image {
  height: 200px !important;
  flex: 0 0 200px !important;
  margin-right: 35px;
  background: transparent !important;
  border-radius: 4px;
  box-shadow: none !important;
  display: flex;
  padding: 0 20px;

  img {
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
}

#vertical {
  width: calc(100% - 80px) !important;
}

.salary-amount strong {
  font-weight: bold;
  font-size: 35px;
}

mark.color {
  &.ps4 {
    background-color: #003791;
  }
  &.xboxone {
    background-color: #107c10;
  }
  &.pc {
    background-color: black;
  }
}

.features {
  list-style-type: none;
  .yes {
    &:before {
      color: #00b01a;
      font-family: "Material-Icons";
      content: "\e927";
      font-size: 18px;
      font-weight: 600;
      position: relative;
      top: -2px;
      float: left;
      margin-left: -28px;
      display: block;
      margin-bottom: 5px;
    }
  }
 .no {
  &:before {
    color: crimson;
    font-family: "Material-Icons";
    content: "\e94f";
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: -2px;
    float: left;
    margin-left: -28px;
    display: block;
    margin-bottom: 5px;
  }
}
}

.review-positive {
  background-color: #00800012 !important;
}

.review-negative {
  background-color: #ff000012 !important;
}

.account-type input.account-type-radio:checked ~ label.red {
  background-color: #dc3139;
}

.account-type input.account-type-radio ~ label.red:hover {
  color: #9c2828;
  background-color: #f6e4e4;
}

.message-content-inner {
  max-height: calc(100vh - 325px) !important;
}

.is-writing {
  margin-left: 20px;

  &.hide {
    opacity: 0;
  }

  i {
    display: block;
    position: absolute;
    animation: pencil .6s infinite alternate;
    margin-top: 3px;
  }

  span {
    margin-left: 20px;
    font-size: 14px;
  }
}

@keyframes pencil {
  0% { transform: rotate(-21deg); }
  50% { transform: rotate(-11deg); }
  100% { transform: rotate(0deg); }
}

.notifications-wrapper .notification-text {
  padding-left: 0 !important;
}

.status-icon, .notification-avatar:after, .user-avatar:after {
  content: none !important;
}